.chip-container {
  display: flex;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 10px;
  background-color: lightsteelblue;
}

.item-container h1 {
  padding-left: 10px;
  padding-right: 10px;
}

.delete-icon {
  cursor: pointer;
}

.item-container img {
  width: 50px;
  height: 50px;
}

.item-container.highlighted {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
}
